* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: aqua;
}

.cajaRosa {
    height: 100vh;
    background-color: rgb(144, 25, 190);
    border: 2px solid white;
}


.cajaAzul {
    height: 100vh;
    background-color: rgb(89, 0, 255);
    border: 2px solid white;
}

.cajaAzul2 {
    height: 10vh;
    background-color: rgb(89, 0, 255);
    border: 2px solid white;
}

.caja3{
    background-color: brown;
    height: 100vh;
    border: 2px solid white;
}

/*media queries*/ /*con este codigo no se ve por el isplay none*/
@media (min-width: 100px) and (max-width: 768px) {
    .cajaAzul {
        display: none;
    }
  }


  @media (min-width: 768px) and (max-width: 5000px) {
    .cajaAzul2 {
        display: none;
    }
  }

  @media (min-width: 576px) and (max-width: 1400px) {
    .caja3 {
        display: none;
    }
  }


